body {
	width: 226px;
	height: 156px;
	overflow:hidden;
}

#graph_placeholder {
	width: 200px;
	height: 110px;
}

#column_info {
	position:absolute;
	width: 220px;
	text-align:center;
	padding: 0;
	margin: 0;
	/*margin-left:3px;*/
	bottom: 10px;
	overflow:hidden;
	font-size: 9px;
	color: #bbbbbb;
}